
body {
    margin: 0% auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.929); /* background color to seperate from container section */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* A set font style for the whole website*/
}

header{
    height: 70px;
}

header img{
    height: 50px; 
    width: 50px;
    margin: 5px;  /* space between the logo and images */  
}

.container{
    width: 1024px;
    margin: 0%; 
    background-color: white; /* background color set to white */
}

#images{
    display: grid; /* using grids to align the images */
    grid-template-columns: 1fr 1fr 1fr; /* set Three columns for images */
    grid-template-rows: auto; /* and Two rows */

}

#images img{
    margin: 0%; 
    object-fit: contain; /* to fit the images inside the container */
    max-width: 100%; /* width set to full to adjust itself inside the container*/
    height: auto; 
}

#text{
    margin: 25px; /* margin to give space between the images and text */
    line-height: 25px; /* give space between each lines */
}

footer {
    color: white; /* text color to white*/
    background-color: rgb(0, 0, 0); /*background color black */
    margin: 0; /* Remove margin */
    width: 100%;
    height: 50px; /* add height to the footer */
    display: flex; /* display flex to align item inside footer */
    justify-content: center; /* align text to center horizontally */
    align-items: center; /* align text to center vertically */
}

/* when screen is below 480px */
@media screen and (max-width: 480px){
    
    /* change the image grid into 1 coloumns */
    #images{
        display: grid;
        grid-template-columns: 1fr; /* set images into one columns */
        grid-template-rows: auto;
    }

}

/* when screen is 481px or above and below 800px*/
@media screen and (min-width: 481px) and (max-width: 800px){

    
    /* image grid changes to 2 coloumns and 3 rows */
    #images{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto; /* Three rows */
    }

}

/* when screen is above 800px to 1024px */
@media screen and (min-width: 801px) and (max-width: 1024px){
    /* all section is set to show full width */
    .container{
        width: 100%;
    }
}
