
/* set font and margin for body */
body{
    font-family: sans-serif;
    margin: 0%;
    display: flex; /* flex */
    flex-direction: column; /* set contents in coloumns */
}

header{
    color: white;  /* text color */
    background-color: rgb(52, 157, 249);  /* background color */
    display: flex;  /* flex */
    justify-content: space-between;  /* gives space between */
    align-items: center; /* align to the center */
    width: 100%; /* width set to 100% */
}

.logo{
    padding-left: 20px; /* logo-padding left */
}

.search{
    display: flex; /* flex */
    justify-content: left; /* alig text inside search to left */
    align-items: center; /* align text center vertically */
    width: 250px; /* width of search bar */
    height: 30px; /* height of search bar */
    color: rgba(0, 0, 0, 0.502); /* text color */
    border: 1px solid black; /* border color */
    background-color: white; /* bg-color of search bar */
    padding-left: 1%; /* search bar padding left */

}


nav a{
    text-decoration: none; /* reomoves underline to navigation */
    padding-right: 20px; /* give space right to navigation */
    color: rgb(255, 255, 255); /* nav text color */
}

main {
    margin:0% auto; /* margin 0% and auto to align the container center */
    margin-top: 30px; /* margin top */
    display: grid; /* grid */
    gap: 10px; /* gaps to the grids */
    grid-template-columns: 310px repeat(3, 230px); /* 310px to first row and repeat 230px 3 times to the next*/
}

p {
    font-size: 15px; /* font size */
    color: rgba(0, 0, 0, 0.808); /* font color */
    line-height: 20px; /* gap between each lines */
}

.box {
    border: 2px solid rgba(201, 201, 201, 0.276); /* border */
    padding: 20px; /* Add padding to the boxes for spacing */
    display: flex; 
    flex-direction: column; 
    border-radius: 1%; /* gives curve edges to the box border */
    box-shadow: 4px 4px 2px rgb(201, 201, 201); /* shadow effect to the boxes */

}

.box1 {
    padding: 2px;
    grid-column: span 2; /* it spans over two column */
    grid-row: span 2; /* it spans over two rows */
}

#text1 {
    margin: 10px; /* margin */
}

.box img{
    margin: 0%;
    object-fit: contain; /* every image fits inside the box */
    height: 100%; /* image set to max height and changes size according to the size of the boxes*/
    width: 100%; /* image set to max width and changes size according to the size of the boxes*/
}

#button {
    font-size: 14px; 
    height: 30px; /* height for the button */
    width: 100px; /* width of button */
    background-color: rgb(52, 157, 249); /* bg color of button */
    color: white; /* text color */
    display: flex; /* flex */
    justify-content: center; /* align text inside button to center */
    align-items: center; /* align text inside button to center vertically */
    border-radius: 8%;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right within the button container */
    margin: 10px; /* Adjust the margin-top as needed to separate the button from the text */
}